<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>       
        <main>
            <header class="detail-header">
                <a href="/" >Back</a>
                <h1>Welcome To Facebook</h1>
            </header>
            <div class="message-details">
                <div>
                    <h2>
                        <%= message.name%>
                    </h2>
                    <p>
                        <%= new Date(message.updatedAt).toLocaleDateString()%>
                    </p>
                </div>
                <p>
                    <%= message.message%>
                </p>
            </div>
            <div class="bottom-links">
                <a href="/feed/delete/<%= index %>" class="btn-del ">Delete</a>
                <a  href="/feed/edit/<%= index %>" class="btn-edit">Edit</a>                              
            </div>
        </main>
    </body>

</html>